.body-uel {
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 70px;
}

.color-uel {
    background-color: #67b168;
}

.jumbotron-header-uel {
    margin-bottom: 2.5%
}

.form-uel {
    margin: 0 auto;
    width: 30%;
}

.btn-uel {
    background-color: #67b168;
    color: white;
}

.btn-uel:hover {
    background-color: #449d44;
    color: white;
}

.link-uel {
    color: #67b168;
}

.link-uel:hover {
    color: #449d44;
    text-decoration: underline;
}

.modal-btn-uel {
    color: #67b168;
}

.modal-btn-uel:hover {
    color: #449d44;
}

.table-uel {
    margin: 0 auto;
    width: 60%;
    table-layout: fixed;
}

.table-uel td {
    word-wrap: break-word;
}

.modal-body h5 {
    word-wrap: break-word;
}

.nav-uel {
    margin-bottom: 2.5%;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-nav>li>a:hover,
.navbar-nav .open>a,
.navbar-nav .open>a:hover,
.navbar-nav .open>a:focus {
    background-color: #449d44;
}

.nav-tabs>li>a {
    color: #67b168;
}

.nav-tabs>li>a:hover {
    color: #449d44;
}
