<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="SuporteCCEPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>entity.Email</class>
        <class>entity.Requisicao</class>
        <class>entity.Pessoa</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
            <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:6543/suporteCCE"/>
            <property name="hibernate.connection.password" value="gtn123"/>
            <property name="hibernate.connection.driver" value="org.postgresql.Driver"/>
            <property name="hibernate.connection.username" value="postgres"/>
        </properties>
    </persistence-unit>
</persistence>
